.full-btn {
	width:100%;
	margin-bottom: 7px;
}
blockquote {
	display: none;
}
.btn-category {
	text-align: left
}
.btn-plugin {
	text-align: left
}
.not-bold {
	font-weight: normal;
	font-size: 14px;
}
.table {
	border: 0;
	margin-bottom: 20px;
}
.severity {
	color: red;
	font-weight: bold;
}
.reliability {
	color: green;
	font-weight: bold;
}

.blockquote_main {
  border-left: 7px solid #ccc;
  margin: 0;
  padding: 0.5em 10px;
  margin-bottom: 10px;
  display: none;
  line-height: 25px;
  text-align:justify;
}

.btn-more-info {
	text-align: left;
	font-weight: bold;
	color: gray
}

.btn-vuls {
	text-align: left
}

.div_show {
	display: block;
}

.div_hide {
	display: none
}

